/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}




/* Search Section Styling */
.search-section {
    background: url('images/search.jpg') no-repeat center center/cover;
    padding: 50px 0;
    text-align: center;
    color: white;
}

.search-section .search-container {
    max-width: 600px;
    margin: 0 auto;
}

.search-section h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.search-section input {
    padding: 10px;
    font-size: 18px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section .button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #2b316b;
    color: white;
    border: none;
    border-radius: 5px;
}

.search-section button:hover {
    background-color: #777;
}

.map_btn {
    margin-top: 50px;
}

.map_btn .clncbtn {
    text-decoration: none;
    background-color: rgb(38, 50, 77);
    border: none;
    color: #ddd;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 10px;
}

/* Clinic List Section Styling */
.second h2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
}

.clinic-list {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to a new row if there's not enough space */
    justify-content: center; /* Centers the cards horizontally */
    gap: 20px; /* Adds spacing between cards */
}

.clinic-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px; /* Sets a fixed width for each card */
    flex: 0 1 calc(33.333% - 20px); /* Adjusts cards to fit three per row */
}

footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .clinic-card {
        flex: 0 1 calc(100% - 20px); /* Adjust to display one card per row on smaller screens */
    }
}
